<footer class="footer row clearfix" role="complementary">
    <div class="footer-widget">
      <h3>Categories</h3>
      <label class="screen-reader-text" for="cat">Categories</label>
      <select name="cat" id="cat" class="form-control">
        <option value="-1">Select Category</option>
        <option class="level-0" value="9">Design</option>
        <option class="level-0" value="10">Dev</option>
        <option class="level-0" value="1">Information</option>
      </select>
    </div>

    <div class="footer-widget">
      <h3>Recent Posts</h3>
        <ul class="list-unstyled">
          <li>
            <a href="http://www.fantoine.com/protects-symfony-routes-against-csrf-attacks/">Protect your routes on Symfony 2 against CSRF attacks</a>
          </li>
          <li>
            <a href="http://www.fantoine.com/its-time-for-a-logo/">It’s time for a logo</a>
          </li>
          <li>
            <a href="http://www.fantoine.com/lets-go-for-a-new-beginning/">Let’s go for a new beginning!</a>
          </li>
        </ul>
    </div>

    <div class="footer-widget">
      <h3>Recent Projects</h3>
      <ul class="list-unstyled">
        <li>
          <a href="http://www.fantoine.com/project/mytinks/" class="project-permalink">
            <span>MyTinks</span>
          </a>
        </li>
      </ul>
    </div>
</footer>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;ver=3"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ "/js/site.min.js" | prepend: site.baseurl }}"></script>