<footer class="footer row clearfix" role="complementary">
    <div class="footer-widget col-sm-4">
        <h3>Categories</h3>
        <select name="cat" id="categories-select" class="form-control">
            <option value="-1">Select Category</option>
            {% for category in site.data.categories | sort %}
            <option value="{{ site.baseUrl }}/blog/{{ category[0] }}">{{ category[1] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="footer-widget col-sm-4">
        <h3>Recent Posts</h3>
        <ul class="list-unstyled">
        {% for post in site.posts limit: 3 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <div class="footer-widget col-sm-4">
        <h3>Recent Projects</h3>
        <ul class="list-unstyled">
            {% for project_data in site.data.projects limit: 3 reversed %}
            {% assign project = project_data[1] %}
            <li><a href="{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</footer>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&amp;ver=3"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ "/js/site.min.js" | prepend: site.baseurl }}"></script>
