<header class="header">
    <h1>Fabien <span>Antoine</span></h1>
    <h2>Web, Mobile &amp; Innovation</h2>
    <hr />
    <ul>
        <li><a href="{{ site.social_github }}" title="Github"><i class="socicon-github"></i></a></li>
        <li><a href="{{ site.social_twitter }}" title="Twitter"><i class="socicon-twitter"></i></a></li>
        <li><a href="{{ site.social_linkedin }}" title="LinkedIn"><i class="socicon-linkedin"></i></a></li>
        <!-- <li><a href="{{ site.social_facebook }}" title="Facebook"><i class="socicon-facebook"></i></a></li>
        <li><a href="{{ site.social_googleplus }}" title="Google+"><i class="socicon-googleplus"></i></a></li>
        <li><a href="{{ site.social_viadeo }}" title="Viadeo"><i class="socicon-viadeo"></i></a></li> -->
    </ul>
</header>
