@custom-media --screen-sm (min-width: 768px);
@custom-media --screen-md (min-width: 992px);

.header {
	background-color: var(--color-blue);
	padding: 30px 20px;
	color: white;
	text-align: center;

	& h1, & h2 {
		text-transform: uppercase;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		font-weight: lighter;
	}
	& h1 {
		margin: 0;
		font-size: 40px;

		& span {
			font-weight: bold;
		}
	}
	& h2 {
		margin: 10px 0 0 0;
		font-size: 26px;
	}
	& hr {
		margin-left: auto;
		margin-right: auto;
		width: 280px;
		border-top-color: white;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}

	& ul {
		margin: 0;

		padding-left: 0;
  		list-style: none;
  		margin-left: -5px;

		& > li {
		    display: inline-block;
		    padding-left: 5px;
		    padding-right: 5px;
		}

		& a {
			color: white;
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
			text-align: center;
			text-decoration: none;
			font-size: 20px;
			border: 1px solid white;
			border-radius: 25%;
			background-color: rgba(0, 0, 0, 0.15);

			transition: background 0.5s;
			box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

			&:hover, &:focus {
				background-color: white;
				color: var(--color-blue);
			}
		}
	}
}

.navbar-main {
	border-radius: 0;
	border: none;
	background-color: var(--color-grey-light);
	position: relative;
	margin: 0;
	overflow: hidden;

	box-shadow: 0 -6px 0 rgba(0, 0, 0, 0.1), 0 6px 0 rgba(0, 0, 0, 0.05);

	& .navbar-nav {
		& > li > a {
			color: var(--color-grey);
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 200;
			padding-left: 20px;
			padding-right: 20px;

			&:hover, &:focus {
				background-color: rgba(255, 255, 255, 0.3);
			}
		}

		& > .active > a,
		& > .active > a:hover, 
		& > .active > a:focus {
			background-color: rgba(0, 0, 0, 0.1);
		}
	}

	& h3 {
		position: absolute;
		margin: 0;
		font-size: 90px;
		font-weight: bold;
		text-align: right;
		text-transform: uppercase;
		color: color(var(--color-grey-light) blackness(25%));
		right: -15px;
		top: -27px;
		cursor: default;

		user-select: none;
	}
}

@media (--screen-sm) {
	.header {
		& h1 {
			font-size: 60px;
		}
		& h2 {
			font-size: 39px;
		}
		& ul a {
			width: 50px;
			height: 50px;
			line-height: 50px;
			font-size: 25px;
		}
		& hr {
			width: 400px;
		}
	}
}
@media (--screen-md) {
	.header {
		& h3 {
			font-size: 80px;
		}
	}
}