---
layout: default
---

<section class="section section-blog">
    <article class="blog-article" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="row">
            <div class="col-md-10 col-md-offset-2">
                <h4 itemprop="name headline">{{ page.title }}</h4>
            </div>
        </header>
        <div class="blog-row row">
            <div class="blog-col blog-col-details col-md-2">
                <ul class="list-unstyled">
                    {% include posts_meta.html post=page %}
                </ul>
            </div>
            <div class="blog-col blog-col-content col-md-10" itemprop="articleBody">
                <img src="{{ site.baseUrl }}/img/posts/{{ page.slug }}/thumbnail.png" class="blog-image img-responsive img-thumbnail" alt="{{ page.title }}" />
                {{ content }}
            </div>
        </div>
    </article>
</section>
